<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eusecom.saminveantory" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.eusecom.saminveantory.InventuraSDActivity" android:label="@string/inventura"> </activity>
        <activity android:name="com.eusecom.saminveantory.InventuraNOActivity" android:label="@string/inventura"> </activity>
        <activity android:name="com.eusecom.saminveantory.InventuraSDnewActivity" android:label="@string/strean"> </activity>
        <activity android:name="com.eusecom.saminveantory.InventuraNOnewActivity" android:label="@string/streanno"> </activity>
        <activity android:name="com.eusecom.saminveantory.SearchRvActivity" android:label="@string/inventura"> </activity>
        <activity android:name="com.eusecom.saminveantory.QrcodeActivity" android:label="@string/btnqrcode"> </activity>
        <activity
            android:name="com.eusecom.saminveantory.ZmazInventuraSDActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.ZmazInventuraNOActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.ZostavyActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.PoznamkaKosikSDActivity"
            android:label="@string/title_activity_poznamkakosik" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.PokladnicaActivity"
            android:label="@string/zostavyean" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.HladajActivity"
            android:label="@string/skladovepol" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.MyPreferencesActivity"
            android:label="@string/action_settings" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.InvsetActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.NaserverActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.DemoinvActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.RozdielyActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.PrenosCSVActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.VladciSDActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
        android:name="com.eusecom.saminveantory.DetailSDActivity"
        android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.ObjednajOrderSDActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.ZmazOrderSDActivity"
            android:label="@string/inventura" >
        </activity>
        <activity
            android:name="com.eusecom.saminveantory.ScrollingActivity"
            android:label="@string/inventura" >
        </activity>
    </application>

</manifest>
